<p><strong>110-item wordlists for the Hurrian group (Hurro-Urartian family).</strong></p>

<p>Languages included: Hurrian.</p>

<p>It is obvious that, during the millennium that attested Hurrian was spoken, there were a number of Hurrian dialects
    that should differ in their basic vocabularies (the most obvious instance is the verb ‘to go’). Due to the
    scantiness of data, it is impossible, however, to adhere to the principle of chronological and dialectal integrity
    (as opposed, e.g., to the situation with the Ancient Greek, cf. the annotated Swadesh wordlists for the Greek group
    of the Indo-European family on this site). The Hurrian list below is cumulative, that is, it includes all available
    forms from any dialects. The following <em>sigla</em> are used for Hurrian sources.</p>

<p>The so-called Old Hurrian period, <em>ca. </em>the late-3<sup>rd</sup> - the mid-2<sup>nd</sup> millennia: <strong>Tišatal</strong>
    (the royal inscription of Tišatal, <em>endan</em> of Urkeš), <strong>OBab.</strong> (<em>ca</em>. 10 tablets with
    invocations, presumably all from the site of Larsa in southern Babylonia), <strong>Mari</strong> (6 tablets from
    Mari), <strong>Bo.Bil.</strong> (the Hurrian-Hittite bilingual series “Song of Release”).</p>

<p>The so-called New Hurrian period, <em>ca. </em>the mid-2<sup>nd</sup> - the late-2<sup>nd</sup> millennia: <strong>Mit.</strong>
    (the Mittani Letter), <strong>Bogh.</strong> (texts from the Hittite capital’s archives, modern Boğazköy, other than
    Bo.Bil.), <strong>Ugar.A.</strong> and <strong>Ugar.C.</strong> (texts from the Ugaritic archives written in the
    alphabetic or syllabic cuneiform script respectively), <strong>Nuzi</strong>, <strong>Qatna</strong>,
    <strong>Msk.</strong>, <strong>Ort.</strong>, <strong>Tell Brak</strong> (texts from Nuzi, Qaṭna, Tell Meskene
    [Emar], Ortaköy and Tell Brak respectively), <strong>Subar.</strong> (“Subarian” glosses in Assyro-Babylonian
    sources).</p>

<p>Hurrian and Urartian forms are quoted in traditional cuneiform transcription, e.g., the main Hurrian and Urartian
    sibilant is rendered as <em>š</em> (phonetically apparently [s]), geminated consonants as double letters
    (<em>tt</em>, <em>kk</em>, etc.), velar fricatives as <em>h/hh</em>, front affricates as <em>z/zz</em>, and so on.
    We do not discriminate between two Hurrian <em>u-</em>phonemes (<em>u</em> &amp; <em>o</em>), since this difference
    is irrelevant for the current investigation. The problem of inventory and phonetic realisation of Hurrian labial
    consonants has not been solved so far; <em>p</em>, <em>f</em> &amp; <em>w</em> in the Hurrian forms below are used
    according to the Hurritological tradition.</p>

<p>Nevertheless, in order to adhere to our current transcriptional standard, which facilitates automatic comparison
    between various languages and language groups, we have to rewrite Hurrian <em>h/hh</em> as <em>ɣ/xx</em>,
    <em>z/zz</em> as <em>ʒ/cc</em>. This only affects forms in the main field. According to our general principles,
    traditional transcription with <em>h</em> &amp; <em>z</em> is added within angle brackets ⟨ ⟩.</p>

<p>Urartian data, when available, are quoted in the notes to the corresponding Hurrian entries.</p>

<p>The current presentation is actually a short version of the paper Kassian 2011. This database only contains Hurrian
    and Urartian terms whose Swadesh meanings are established with a reasonable degree of probability, along with
    references to the sources. For additional synchronic as well as etymological data the reader might refer to Kassian
    2011.</p>

<p><strong>References</strong></p>

<p>André-Salvini &amp; Salvini 1998 = André-Salvini, B. &amp; Salvini, M. Un nouveau vocabulaire trilingue
    sumérien-akkadien-hourrite de Ras Shamra. In: <em>Studies on the Civilization and Culture of Nuzi and the
        Hurrians </em>9 (1998). P. 3-31.</p>

<p>André-Salvini &amp; Salvini 1999a = André-Salvini, B. &amp; Salvini, M. La colonne I du vocabulaire S<sup>a</sup>
    trilingue RS 94‑2939. In: <em>SMEA </em>41/1 (1999). P. 145-148.</p>

<p>André-Salvini &amp; Salvini 1999b = André-Salvini, B. &amp; Salvini, M. A new trilingual vocabulary from Ras Shamra
    and the relationship between Hurrian and Urartian. In: <em>Studies on the Civilization and Culture of Nuzi and the
        Hurrians </em>10 (1999). P. 267-275.</p>

<p>André-Salvini &amp; Salvini 2002 = André-Salvini, B. &amp; Salvini, M. The bilingual stele of Rusa I from Movana
    (West-Azerbaĳan, Iran). In: <em>SMEA </em>44/1 (2002). P. 5-66.</p>

<p>Campbell 2007 = Campbell, D. <em>Mood and modality in Hurrian</em>. Ph.D. diss., The University of Chicago, 2007.</p>

<p>Campbell 2008 = Campbell, D. Split ergativity in Hurrian. In: <em>Zeitschrift für Assyriologie </em>98 (2008). P.
    262-294.</p>

<p>Catsanicos 1996 = Catsanicos, J. L’apport de la bilingue de Hattusa à la lexicologie hourrite. In: <em>Amurru 1:
    Mari, Ébla et les hourrites</em>. Paris, 1996. P. 197-296.</p>

<p>CdTU = M. Salvini. <em>Corpus dei testi urartei</em>. Vol. 1-3. Roma, 2008.</p>

<p>de Martino &amp; Giorgieri 2007 = de Martino, S. &amp; Giorgieri, M. Hurritisch <em>ašti</em> “(Ehe)frau”. In: <em>Altorientalische
    Forschungen </em>34/1 (2007) (Festschrift für I. Wegner). S. 126-148.</p>

<p>Dietrich &amp; Mayer 1994 = Dietrich, M. &amp; Mayer, W. Hurritische Weihrauch-Beschwörungen in ugaritischer
    Alphabetschrift. In: <em>Ugarit-Forschungen </em>26 (1994). P. 73-112.</p>

<p>Dietrich &amp; Mayer 1997 = Dietrich, M. &amp; Mayer, W. Ein hurritisches Totenritual für ʕAmmištamru III. (KTU
    1.125). In: B. Pongratz-Leisten et al. (eds.). <em>Ana šadî Labnāni lū allik: Beiträge zu altorientalischen und
        mittelmeerischen Kulturen: Festschrift für Wolfgang Röllig </em>(= AOAT 247). Kevelaer / Neukirchen-Vluyn, 1997.
    P. 79-89.</p>

<p>Dietrich &amp; Mayer 2010 = Dietrich, M. &amp; Mayer, W. <em>Der hurritische Brief des Dušratta von Mīttānni an
    Amenḫotep III. Text - Grammatik - Kopie </em>(= AOAT 382). Münster: Ugarit-Verlag, 2010.</p>

<p>Dĳkstra 1993a = Dĳkstra, M. The Ugaritic-Hurrian sacrificial hymn to El (RS 24.278 = KTU 1.128). In: <em>Ugarit-Forschungen </em>25
    (1993). P. 157-162.</p>

<p>Dĳkstra 1993b = Dĳkstra, M. The Akkado-Hurrian bilingual wisdom-text RS 15.010 reconsidered. In: <em>Ugarit-Forschungen </em>25
    (1993). P. 163-171.</p>

<p>Dĳkstra 2006 = Dĳkstra, M. The myth of <em>apši</em> “the (sea)dragon” in the Hurrian tradition. In: <em>Ugarit-Forschungen </em>37
    (2006). P. 315-323.</p>

<p>Giorgieri 1998 = Giorgieri, M. Die erste Beschwörung der 8. Tafel des Šalašu-Rituals. In: <em>Studies on the
    Civilization and Culture of Nuzi and the Hurrians </em>9 (1998). P. 71-86.</p>

<p>Giorgieri 2000 = Giorgieri, M. Schizzo grammaticale della lingua hurrica. In: S. de Martino et al. (eds.). <em>La
    civiltà dei Hurriti </em>(= La parola del Passato 55). Napoli, Macchiaroli Editore, 2000. P. 171-277.</p>

<p>Giorgieri 2001 = Giorgieri, M. Die hurritische Fassung des Ullikummi-Lieds und ihre hethitische Parallele. In: G.
    Wilhelm (ed.). <em>Akten des IV. Internationalen Kongresses für Hethitologie, Würzburg, 4.-8. Oktober 1999 </em>(=
    StBoT 45). Wiesbaden, 2001.</p>

<p>Girbal 1994 = Girbal, Chr. <em>šummi</em> im Boğazköy-Hurritischen. In: <em>Altorientalische Forschungen </em>21/1
    (1994). S. 171-175.</p>

<p>Girbal 2001 = Girbal, Chr. Selbständige Pronomina der ersten Person Singular im Urartäischen. In: Th. Richter et al.
    (eds.). <em>Kulturgeschichten: Altorientalistische Studien für Volkert Haas zum 65. Geburtstag</em>. Saarbrücken,
    2001. S. 139-144.</p>

<p>Girbal 2004 = Girbal, Chr. Notizen zum Urartäischen. In: <em>SMEA </em>46/1 (2004). P. 25-28.</p>

<p>Girbal 2010 = Girbal, Chr. Urartäisch <em>barzani</em> <em>zelde</em>. In: <em>Altorientalische Forschungen </em>37/1
    (2010). S. 153-158.</p>

<p>GLH = E. Laroche. <em>Glossaire de la langue hourrite</em>. Paris, 1980.</p>

<p>Görke 2010 = Görke, S. <em>Das Ritual der Aštu (CTH 490). Rekonstruktion und Tradition eines hurritisch-hethitischen
    Rituals aus Boğazköy-Ḫattuša</em>. Brill, 2010.</p>

<p>Haas 1993 = Haas, V. Hurritologische Miszellen. In: <em>Altorientalische Forschungen </em>20/2 (1993). S. 261-268.
</p>

<p>Haas 1998a = Haas, V. <em>Die hurritischen Ritualtermini in hethitischem Kontext</em>. 2 vols (ChS 1/9). Roma, 1998.
</p>

<p>Haas 1998b = Haas, V. Der heilkundige Jäger. In: <em>SMEA </em>40/1 (1998). P. 143-150.</p>

<p>Haas &amp; Wegner 2004 = Haas, V. &amp; Wegner, I. Das Gegenwortpaar ‘wahr’ und ‘falsch’ im Hurritischen. In: D.
    Groddek &amp; S. Rößle (eds). <em>Šarnikzel: Hethitologische Studien zum Gedenken an Emil Orgetorix Forrer</em>.
    Dresden, 2004. P. 339-344.</p>

<p>Haas &amp; Wegner 2010 = Haas, V. &amp; Wegner, I. Beiträge zum hurritischen Lexikon: Die hurritischen Verben
    <em>ušš</em>- ‘gehen’ und <em>ašš</em>- ‘abwaschen, abwischen’. In: J. Klinger et al. (eds.). <em>Investigationes
        Anatolicae: Gedenkschrift für Erich Neu </em>(StBoT 52). Wiesbaden, 2010. S. 97-110.</p>

<p>Hazenbos 2005 = Hazenbos, J. Hurritisch und Urartäisch. In: M. P. Streck (ed.). <em>Sprachen des Alten Orients</em>.
    Darmstadt, 2005. S. 135-158.</p>

<p>Hrůša 2010 = Hrůša, I. <em>Die akkadische Synonymenliste </em>malku - šarru<em>. Eine Textedition mit Übersetzung und
    Kommentar </em>(= AOAT 50). Ugarit-Verlag, 2010.</p>

<p>Huehnergard 1987/2008 = Huehnergard, J. <em>Ugaritic Vocabulary in Syllabic Transcription </em>(Harvard Semitic
    Studies 32). 1<sup>st</sup> ed.: Atlanta, 1987; 2<sup>nd</sup> repr. ed.: Winona Lake, 2008, with addenda on pp.
    375-406.</p>

<p>Kassian 2011 = Kassian, A. Hurro-Urartian from the lexicostatistical viewpoint. In: <em>Ugarit-Forschungen</em>. Bd
    42, 2010 [2011].</p>

<p>Krebernik 2001 = Krebernik, M. <em>Tall Bi’a / Tuttul</em>. Bd 2: <em>Die Altorientalischen Schriftfunde</em>.
    Saarbrücker Druckerei und Verlag, 2001.</p>

<p>Lam 2007 = Lam, J. The Hurrian Section of the Ugaritic Ritual Text RS 24.643 (KTU 1.148). In:
    <em>Ugarit-Forschungen </em>38 (2007). P. 399-413.</p>

<p>LHL 1 = S. de Martino, M. Giorgieri. <em>Literatur zum hurritischen Lexikon</em>. Bd 1: <em>A</em>. LoGisma editore,
    2008.</p>

<p>Neu 1996 = Neu, E. <em>Das hurritische Epos der Freilassung</em>. I: <em>Untersuchungen zu einem
    hurritisch-hethitischen Textensemble aus Hattuša </em>(Studien zu den Boğazköy Texten 32). Wiesbaden, 1996.</p>

<p>Neu 2003 = Neu, E. Die hurritischen Pronomina der hurritisch-hethitischen Bilingue aus Hattuša. In: G. Beckman et al.
    (eds.). <em>Hittite Studies in Honor of Harry A. Hoffner Jr. on the Occasion of His 65<sup>th</sup> Birthday</em>.
    Eisenbrauns, 2003. P. 297-307.</p>

<p>Prechel &amp; Richter 2001 = Prechel, D. &amp; Richter, Th. Abrakadabra oder Althurritisch: Betrachtungen zu einigen
    altbabylonischen Beschwörungstexten. In: Th. Richter et al. (eds.). <em>Kulturgeschichten: Altorientalistische
        Studien für Volkert Haas zum 65. Geburtstag</em>. Saarbrücken, 2001. S. 333-371.</p>

<p>Richter 2005 = Richter, Th. Kleine Beiträge zum hurritischen Wörterbuch. In: <em>Altorientalische Forschungen </em>32/1
    (2005). S. 23-44.</p>

<p>Röseler 1999 = Röseler, I. Hurritologische Miszellen. In: <em>Studies on the Civilization and Culture of Nuzi and the
    Hurrians </em>10 (1999). P. 393-400.</p>

<p>Salvini &amp; Wegner 2004 = Salvini, M. &amp; Wegner, I. <em>Die mythologischen Texte </em>(ChS 1/6). Roma, 2004.</p>

<p>Strauß 2001 = Strauß, R. Eine Rezeptur und Beschwörung für die Zubereitung von “Weihwasser” in dem Ritual CTH 471.
    In: Th. Richter et al. (eds.). <em>Kulturgeschichten: Altorientalistische Studien für Volkert Haas zum 65.
        Geburtstag</em>. Saarbrücken, 2001. S. 405-416.</p>

<p>Trémouille 2005 = Trémouille, M.-C. <em>Texte verschiedenen Inhalts </em>(ChS 1/8). Roma, 2005.</p>

<p>Ünal 1998 = Ünal, A. <em>Hittite and Hurrian cuneiform tablets from Ortaköy (Çorum), Central Turkey</em>. Istanbul,
    1998.</p>

<p>Wegner 1992 = Wegner, I. Die selbständigen personalpronomina des Hurritischen. In: <em>SMEA </em>29 (1992). P.
    227-237.</p>

<p>Wegner 1995 = Wegner, I. Die hurritischen Körperteilbezeichnungen. In: <em>Zeitschrift für Assyriologie </em>85
    (1995). S. 116-126.</p>

<p>Wegner 2007 = Wegner, I. <em>Hurritisch. Eine Einführung</em>. 2<sup>nd</sup> rev. ed. Wiesbaden, 2007.</p>

<p>Wegner 2010 = Wegner, I. Das hurritische Fragepronomen <em>aunni</em> (<em>a-ú-u</em>(<em>n</em>)<em>-ni</em>) =
    hethitisch <em>kuit</em>. In: J. C. Fincke (ed.). <em>Festschrift für Gernot Wilhelm anläßlich seines 65.
        Geburtstages am 28 Januar 2010</em>. ISLET, 2010. P. 403-410.</p>

<p>Wilhelm 1984 = Wilhelm, G. Die Inschrift auf der Statue der Tatu-Hepa und die hurritischen deiktischen Pronomina. In:
    <em>SMEA </em>24 (1984). P. 215-222.</p>

<p>Wilhelm 1991 = Wilhelm, G. A Hurrian Letter from Tell Brak. In: <em>Iraq </em>53 (1991). P. 159-168.</p>

<p>Wilhelm 1993 = Wilhelm, G. Zur Grammatik und zum Lexikon des Hurritischen. In: <em>Zeitschrift für Assyriologie </em>83
    (1993). P. 99-118.</p>

<p>Wilhelm 1998a = Wilhelm, G. Hurr. <em>šinussi</em> ‘Scheuklappe’? In: <em>Studies on the Civilization and Culture of
    Nuzi and the Hurrians </em>9 (1998). P. 173-176.</p>

<p>Wilhelm 1998b = Wilhelm, G. Zur Suffixaufnahme beim Instrumental. In: <em>Studies on the Civilization and Culture of
    Nuzi and the Hurrians </em>9 (1998). P. 177-180.</p>

<p>Wilhelm 1998c = Wilhelm, G. Die Inschrift des Tišatal von Urkeš. In: G. Buccellati &amp; M. Kelly-Buccellati (eds.).
    <em>Urkesh and the Hurrians Studies in Honor of Lloyd Cotsen </em>(Urkesh/Mozan Studies 3). Malibu, 1998. P.
    117-143.</p>

<p>Wilhelm 2008a = Wilhelm, G. Hurrian. In: R. D. Woodard (ed.). <em>The Ancient Languages of Asia Minor</em>.
    Cambridge, 2008. P. 81-104.</p>

<p>Wilhelm 2008b = Wilhelm, G. Urartian. In: R. D. Woodard (ed.). <em>The Ancient Languages of Asia Minor</em>.
    Cambridge, 2008. P. 105-123.</p>

<p>Yakubovich 2011 = Yakubovich, I. Morphological Negation in Urartian. In: A. Kosyan et al. (eds.). <em>Urartu and its
    Neighbors. Festschrift in honor of Nicolay Harutyunyan in occasion of his 90<sup>th</sup> birthday </em>(= Aramazd.
    Armenian Journal of Near Eastern Studies, No. 5). Yerevan, 2011. P. 141-165.</p>

<p>Дьяконов 1963 = Дьяконов, И. М. <em>Урартские письма и документы</em>. Ленинград, 1963. [Diakonoff 1963 = Diakonoff,
    I. M. <em>Urartskie pis’ma i dokumenty</em>. Leningrad, 1963]</p>

<p>КУКН = Н. В. Арутюнян. <em>Корпус урартских клинообразных надписей</em>. Ереван, 2003. [KUKN = N. V. Harouthiounyan.
    <em>Korpus urartskikh klinoobraznykh nadpisey</em>. Erevan, 2003]</p>

<p>Хачикян 2010a = Хачикян, М. Л. Хурритский язык. In: <em>Языки мира: Древние реликтовые языки Передней Азии</em>.
    Москва: РАН, Институт языкознания, 2010. С. 126-149. [Khachikyan 2010a = Khachikyan, M. L. Khurritskiy yazyk. In:
    <em>Yazyki mira: Drevnie reliktovye yazyki Peredney Azii</em>. Moskva: RAN, Institut yazykoznaniya, 2010. S.
    126-149]</p>

<p>Хачикян 2010b = Хачикян, М. Л. Урартский язык. In: <em>Языки мира: Древние реликтовые языки Передней Азии</em>.
    Москва: РАН, Институт языкознания, 2010. С. 149-168. [Khachikyan 2010b = Khachikyan, M. L. Urartskiy yazyk. In: <em>Yazyki
        mira: Drevnie reliktovye yazyki Peredney Azii</em>. Moskva: RAN, Institut yazykoznaniya, 2010. S. 149-168]</p>

<p><strong>Author: </strong></p>

<p>Hurrian: Alexei S. Kassian, October 2011.</p>

<p>The Hurrian wordlist was previously published in: Starostin, George S. (ed.). 2011-2019. Global lexicostatistical
    database. http://starling.rinet.ru/new100/main.htm</p>